@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.websiteTitle {
  font-weight: 800;
  font-size: 52px;
  font-style: italic;
}

@media (max-width: 425px) {
  .websiteTitle {
    font-size: 32px;
  }
}
