@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #f7f7f7;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f7f7f7;
  }
} */

body {
  background-color: var(--background);
}

.fontFamily {
  font-family: "SF Pro" !important;
}
.websiteTitle {
  font-weight: 800;
  font-size: 52px;
  font-family: "SF Pro";
}

.container {
  height: 95vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.container div {
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}
@keyframes gradient {
  50% {
    transform: scale(1.2) translate(50px);
  }
}
.container div:nth-child(1) {
  height: 90%;
  width: 80%;
  background-color: #6b3918;
  left: -20%;
  top: -10%;
}
.container div:nth-child(2) {
  height: 80%;
  width: 70%;
  background-color: #d7c5a7;
  top: -12%;
  right: -12%;
  animation-delay: 2s;
}
.container div:nth-child(3) {
  height: 65%;
  width: 80%;
  background-color: #140f05;
  bottom: -15%;
  right: -20%;
  animation-delay: 0.3s;
}
.container div:nth-child(4) {
  height: 50%;
  width: 75%;
  background-color: #180d02;
  bottom: -10%;
  left: -18%;
  animation-delay: 1.2s;
}

.filterBox {
  backdrop-filter: blur(80px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

@media (max-width: 425px) {
  .websiteTitle {
    font-size: 32px;
  }
}
